@import 'vendors/reset.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: #9ACD32; 
    // border: 6px solid #FDEB00;
}



.main__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p:after {
        content: url(./../leaf.png);
    }

    p {
        color: red;
    }

    h2 {
        font-weight: 700;
    }
}


header {

    img {
        border: 6px solid #FDEB00;
    }

    > p {
        background-color: #FDEB00;
        margin-bottom: 15%;
    }

    margin: 0 4%;
}

main {
    display: flex;
    margin: 2% 2% 30% 2%;
    align-items: center;

    p {
        text-align: left;
    }

    p:last-child {
        font-size: 1.9rem;
        font-weight: bold;
    }
}

footer {
    text-align: center;
    border-top: 2px solid black;
    ul {
        display: flex;
        justify-content: space-around;

        li {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

      
    }

    p {
        border: 3px solid #FDEB00;
        font-size: 0.9rem;
        margin: 3%;
    }
}

.weak::after {
    content: url(./../fire.png);
}

.retraite::after {
    content: url(./../normal.png);
}